<div style="text-align: center;">
    <h3>Search A Flight</h3>
  </div>
  <div style="width: 400px; margin-left: auto; margin-right: auto;">
  
  
  <form   >
      <label for="planeId">Schedule Flight ID:</label>
      <input (blur)="validateId()" type="number" class="form-control" type="number"  [(ngModel)]="planeId"  [ngModelOptions]="{standalone: true}" required  >
      <!--small *ngIf="idValid" style="color: red;">Invalid ID. Please enter an id between 1 to 999.</small><br>-->
      <br>
      <input type="submit" value="SEARCH" class="btn btn-primary" (click)="searchScheduleFlight(planeId)" [disabled]="!planeId">
      <br><br>
      <div *ngIf="show">
        <label><b>Details: </b></label><br>
        <label for="carrierName">CarrierName</label>
        <input type="text" class="form-control" value="{{airline.carrierName}}" readonly >
        <br>
        <label for="source">Source</label>
        <input type="text" class="form-control" value="{{airline.source}}" readonly >
        <br>
        <label for="destination">Destination</label>
        <input type="text" class="form-control" value="{{airline.destination}}" readonly >
        <br>
        <label for="date">Schedule Date</label>
        <input type="text" class="form-control" value="{{airline.date}}" readonly >
        <br>
        <label for="duration ">Duration</label>
        <input type="text" class="form-control" value="{{airline.duration}}" readonly >
        <br>
        <label for="starting_time">Starting Time</label>
        <input type="text" class="form-control" value="{{airline.starting_time}}" readonly >
        <br>
        <label for="prize">Cost of ticket</label>
        <input type="number" class="form-control" value="{{airline.prize}}" readonly>
        <br>
        <label for="avaliable_seats">Available Seats</label>
        <input type="number" class="form-control" value="{{airline.avaliable_seats}}" readonly >
        <br>
        <label for="sold_out">Soldout Seats</label>
        <input type="number" class="form-control" value="{{airline.sold_out}}" readonly >
        <div class="invalid-feedback">Please fill out this field.</div>
        <br>
      </div>

  </form>

  </div>