.add-flight-background{
    background-color: lavenderblush;
    background-size: cover;
}

.form-group{
  
    
    
	font-size: 17px;
	color: midnightblue;
	font-weight: bold;
	font-style: normal;
	line-height: 35px;
	margin-left: 0px;
    text-transform: uppercase;
    
    

}