<div style="background-image: url(../assets/reset.jpg); background-size: 100%; height: 18.05cm;">
<div class="form-gap"></div>
<div class="container" >
	<div class="row" >
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                 
                  <br>  <br>  <br>  <br>  <br>  <br>
                  <h4 style="font-size: xx-large; color: black;background-color: blanchedalmond;">You can reset your password</h4>
                  <div class="panel-body">
    
                    <form >
    
                      <div class="form-group">
                        <div class="input-group">
                          
                          <input id="" name="newpassword" [(ngModel)]="changepassword.password" placeholder="Enter New Password" class="form-control"  type="password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                         
                          <input id="" name="conformpassword" placeholder="Conform New Password" class="form-control"  type="password">
                        </div>
                      </div>
                     
                      <div class="form-group ">
                        <input class="btn btn-success " type="submit " name="submit_reg " value="submit" (click)="save() ">
                    </div>
         
                     
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>

</div>