<img src="assets/1.jpg"  alt="Savingsaccount" style="width:30%" height="40%" class="center">
<div class="row" class="container" style="text-align: center;">
    <div class="card" style="margin: auto;">
        
           
    <div class="column">
            <button style="margin: 5px;" type="button" class="btn btn-info" routerLink="/Transfer">Transfer</button> <br>
            <button style="margin: 5px;" type="button" class="btn btn-info" routerLink="/Withdraw">Withdraw</button><br>
        <button style="margin: 5px;" type="button" class="btn btn-info" routerLink="/Utlitybills">Utlity Bills</button>
        <button style="margin: 5px;" type="button" class="btn btn-info" routerLink="/MiniStatement">Mini Statement</button>
          </div>
      </div>
    </div>