
<div class="menu-background">
<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Book Domestic and International Flights</h3>
        The Flight Management System is a booking solution for flight tickets.
        It  consolidates data provided by different airline carriers and hence provides the user details 
        and rates in real-time. Travellers may want to make changes in their bookings.
        The  application allows them to book, cancel, view and update their bookings with ease.
        Other  than this, it eases the management of bookings too.
        All the bookings, flights, schedules and  routes can be viewed,
        added and modified on a single application by the administrator.
        <br />
      <button  style="background-color: deepskyblue; border-radius: 45px;" type="button" class="btn btn-primary signUpBtn">
        <a class="nav-link"    routerLink="/signup">SIGN UP</a>
      </button>
    </div>
  </div>

  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Check out the Best Offers Available</h3>
      <div class="row" >
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/cashback.jpg" height="250px" width="240px" style="border-radius: 50%;"/>
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/30.png" height="250px" width="240px" style="border-radius: 50%;" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/student.jpg" height="250px" width="240px" style="border-radius: 50%;" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/diwali.jpg" height="250px" width="240px" style="border-radius: 50%;" />
        </div>
      </div>
    </div>
  </div>

  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Why book directly with us?</h3>
      <div class="row">
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/av.png" height="100px" width="100px"/><br /><br />
          <h5>Multiple</h5>
          <h5>Payment Options</h5>
          <hr />
          <span class="info">
            Choose the payment mode that suits you best from UPI, Debit/Credit Card, Net Banking, Wallets and others.<br><br>
            <hr />
            <a style="background-color: darkblue; border-radius: 45px;"
              href="https://www.paypal.com/in/home/"
              class="fa fa-paypal"
            ></a>
            <a style="background-color: red; border-radius: 45px;"
              href="https://www.mastercard.co.in/en-in.html/"
              class="fa fa-cc-mastercard"
            ></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/dc.png" height="98px" /><br /><br />
          <h5>Dottie - Our Friendly </h5>
          <h5>Chat Assistant</h5>
          <hr />
          <span class="info">
            Chat with our AI powered assistant for an array of self-service options - download boarding pass, check-in for flight and much more. <br>
            <hr />
            <a style="background-color: darkgreen; border-radius: 45px;" href="#" class="fa fa-whatsapp"></a>
            <a style="background-color: tomato; border-radius: 45px;" href="#" class="fa fa-commenting"></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/icon3.png" height="100px" /><br /><br />
          <h5>Widest</h5>
          <h5> Connectivity</h5>
          
          <hr />
          <span>
            With our vast network and fleet, we are all set to fly you to the places and people you love, in India and abroad. <br><br>
            <hr />
            <a style="background-color: purple; border-radius: 45px;" href="#" class="fa fa-globe"></a>
            <a style="background-color: black; border-radius: 45px;" href="#" class="fa fa-location-arrow"></a>
          </span>
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/helpline.jpg" height="100px" /><br /><br />
          
          <h5>Contact </h5>
          <h5>Us</h5>
          <hr />
          <span>
          
           Phone : +91 9663157800 <br>
           E-mail: a.takkellapati@dxc.com
            <br>
           We are always there to solve your griveances 24/7. <br><br>
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
