<div class="panel-heading" class="mt-3 mb-3 mt-5" style="text-align: center;height: 2cm; color: blue; background-color: whitesmoke; ">
  <h2>Available Flights</h2>
</div>
<div class="viewflight-design">

<div class="panel panel-primary">
  
  <div class="panel-body" class="mt-3 mb-3 mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> planeId </th>
          <th>CarrierName</th>
                <th>Source </th>
                  <th>Destination </th> 
                  <th>Schedule Date </th>
                  <th>Duration </th> 
                  <th>Starting Time </th> 
                  <th>Ending Time </th>
                  <th>Cost of ticket </th>
                  <th>Available Seats </th> 
                  <th>Soldout Seats</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let airline of airlines|async">
          <td class="text-center">{{airline.planeId}}</td>
          <td class="text-center">{{airline.carrierName}}</td>
          <td class="text-center">{{airline.source}}</td>
          <td class="text-center">{{airline.destination}}</td>
          <td class="text-center">{{airline.date}}</td>
          <td class="text-center">{{airline.duration}}</td>
          <td class="text-center">{{airline.starting_time}}</td>
          <td class="text-center">{{airline.ending_time}}</td>
          <td class="text-center">{{airline.prize}}</td>
          <td class="text-center">{{airline.avaliable_seats}}</td>
          <td class="text-center">{{airline.sold_out}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <input class="btn btn-secondary mt-3 mb-10" type="submit " name="submit_reg " value="Go to Home" (click)="menu() ">
    </div>
</div>
