
<div class="menulogin-background" style="background-color: antiquewhite;">
<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Book Domestic and International Flights</h3>
        The Flight Management System is a booking solution for flight tickets.
        It  consolidates data provided by different airline carriers and hence provides the user details 
        and rates in real-time. Travellers may want to make changes in their bookings.
        The  application allows them to book, cancel, view and update their bookings with ease.
        Other  than this, it eases the management of bookings too.
        All the bookings, flights, schedules and  routes can be viewed,
        added and modified on a single application by the administrator.
        <br />
      <button type="button" class="btn btn-primary signUpBtn">
        <a class="nav-link"    routerLink="/user/{{username}}">Booking</a>
      </button>
    </div>
  </div>

  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Check out the Best Offers Available</h3>
      <div class="row" >
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/cashback.jpg" height="250px" width="250px" style="border-radius: 50%;"/>
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/30.png" height="250px" width="250px" style="border-radius: 50%;" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/student.jpg" height="250px" width="250px" style="border-radius: 50%;" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/diwali.jpg" height="250px" width="250px" style="border-radius: 50%;" />
        </div>
      </div>
    </div>
  </div>

  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">About Us</h3>
      <div class="row">
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/download.jpg" height="100px" width="100px"/><br /><br />
          <h5>CEO</h5>
          <h6>Mike Salvino</h6>
          <hr />
          <span class="info">
            “When once you have tasted flight, you will forever walk the earth with your eyes turned skyward, for there you have been, and there you will always long to return.”
            <hr />
            <a
              href="https://www.facebook.com/"
              class="fa fa-facebook"
            ></a>
            <a
              href="https://in.linkedin.com/in/"
              class="fa fa-linkedin"
            ></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/manager.JPG" height="98px" /><br /><br />
          <h5>MANAGER</h5>
          <h5>Subratim Bharti</h5>
          <hr />
          <span class="info">
            We have a strategic plan. 
            It's called 'doing excelence in services'. <br><br><br>
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/engineer.JPG" height="100px" /><br /><br />
          <h6>HEAD ENGINEER</h6>
          <h5>Srinivasan Bragadeesan</h5>
          <hr />
          <span>
           To most people sky is the limit. To those who love aviation, the sky is home. <br><br><br>
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/helpline.jpg" height="100px" /><br /><br />
          <h6>HELPLINE</h6>
          <h5>Contact Us</h5>
          <hr />
          <span>
           Phone : +91 9663157800 <br>
           E-mail: a.takkellapati@dxc.com
            <br>
           We are always there to solve your griveances 24/7.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
      </div>
    </div> </div></div>
   
