<html>
    <head style="text-align:center">
      Transfer funds
    </head>
    <body>
        
<form          #addform="ngForm"    (ngSubmit)="addDeposit(addform.value)">   

  <div class="form-group">
    <label for="accno">Enter Receivers AccountNumber</label>
    <input type="text" class="form-control" name="accountNumber"  ngModel placeholder="Enter your A/C No" required>
  </div>
    
  <div class="form-group">
    <label for="pwd">Bank IFSC</label>
    <input type="text" class="form-control" name="bankIFSC"  ngModel placeholder="Enter Bank IFSC code" required>
  </div>


  <div class="form-group">
    <label for="pwd">Amount</label>
    <input type="text" class="form-control" name="amount"  ngModel placeholder="Enter amount" required>
  </div>


  
  <div class="form-group">
    <label for="pwd">Transaction Password</label>
    <input type="password" class="form-control" name="transactionPassword"  ngModel placeholder="Password" required>
  </div>
  <button style="margin: 5px;" type="submit" class="btn btn-primary">Deposit</button>
  <button style="margin: 5px;" type="reset" class="btn btn-danger" routerLink='/home'>Cancel</button>
</form>
    </body>
</html>
