.signup-background{
    background-color: lavenderblush;
}

.form-group{
  
    
	display: -ms-inline-flexbox;
	list-style: none;
	font-size: 17px;
	color: midnightblue;
	font-weight: bold;
	font-style: normal;
	line-height: 35px;
	margin-left: 50px;
    text-transform: uppercase;
    
    

}